$color-black: black;
$color-white: white;


$color-text-body: black;
$color-text-heading-primary: black;
$color-text-heading-secondary: black;
$color-text-button-primary: black;
$color-text-button-secondary: black;


$color-button-border-default: $color-white;
$color-button-background-default: $color-white;
