<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>vue-rd</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="app">
      <section>
        Templates<br/>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </section>
      <hr>
      <section>
        Parent -> Child<br/>
        <quote-panel v-bind:quote="quote" v-bind:quote-author="quoteAuthor"></quote-panel>
      </section>
      <hr>
      <section>
        Input<br/>
        <label>You typed: {{whatDidYouType}}</label>
        <input v-model="whatDidYouType"></input>
      </section>
      <hr>
      <section>
        Child -> Parent Component Communication (Data return)<br/>
        <label>You typed: {{whatDidYouType2}}</label>
        <text-input v-bind:value.sync="whatDidYouType2"></text-input>
      </section>
      <hr>
      <section>
        Child -> Parent Function passing<br/>
        <label>Should alert</label>
        <button-action label="Hello" v-bind:action="onClick1"><button-action>
      </section>
      <hr>
      <section>
        Request loading<br/>
        <button v-on:click="loadUsers()">Load users</button>
      </section>
      <hr>
      <section>
        Template repeats with identity and just-in-time reducing<br/>
        <ul>
          <li v-for="object in objects.slice(1,4)" track-by="id">
            {{object.label}} - {{object.value}}
          </li>
        </ul>
      </section>
      <hr>
      <section>
        Just-in-time formatting via filters<br/>
        <div>original: {{title}}</div>
        <div>with filter: {{title | despace}}</div>
      </section>


    </div>
  </body>
</html>
