<section class="examples-advanced-page">
  <h1>A collection of advanced examples.</h1>
  <hr>
  <section>
    Data load on page load<br/>
    <div>
      {{user.first_name}} {{ user.last_name }}
    </div>
  </section>
  <hr>
  <section>
    Data load on page load from query param<br/>
    <div>
      {{user2.first_name}} {{ user2.last_name }}
    </div>
  </section>
  <hr>
  <section>
    Data load on page load from path param<br/>
    <div>
      {{user3.first_name}} {{ user3.last_name }}
    </div>
  </section>
  <hr>
  <section>
    Data Lookup Function in a loop<br/>
    <div v-for="(object, index) in objects">
        {{ getNameForID(object) }}
        {{object.myloop = 2}}
    </div>
  </section>
  <hr>
  <section>
    Template Variable SEtting<br/>
    <div v-for="(object, index) in objects">
      <span v-bind:data-math="(object.myloop = index)"></span>
      My template assigned var is: {{ object.myloop }}
    </div>
  </section>
  <hr>
  <section>
    Recursive component loading<br/>
    <div>
      <input v-model="level"></input>
      <recursion v-bind:level="level" v-if="level > 0"></recursion>
    </div>
  </section>
</section>
