<section class="examples-basic-page">
  <section>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
  </section>
  <hr>
  <section>
    <h2>You can pass values and variables to children components.</h2><br/>
    <quote-panel v-bind:quote="quote" v-bind:quote-author="quoteAuthor" />
  </section>
  <hr>
  <section>
    <h2>2-way data binding updates data automatically when it changes.</h2><br/>
    <label>You typed:</label><br/>
    {{whatDidYouType}}
    <br/>
    <input v-model="whatDidYouType"></input>
    <button v-on:click="whatDidYouType = null">Reset</button>
  </section>
  <hr>
  <section>
    <h2>Child components can easily update data that exists in the parent.</h2><br/>
    <label>You typed:</label><br/>
    {{whatDidYouType2}}
    <br/>
    <text-input v-bind:value.sync="whatDidYouType2" />
    <button v-on:click="whatDidYouType2 = null">Reset</button>
  </section>
  <hr>
  <section>
    <h2>
      Parent components can pass functions down to children for them to execute.
      <br/>
      Children pass their own parameters!
    </h2><br/>
    <label>Should alert</label>
    <button-action label="Hello" v-bind:action="onClick1"></button-action>
  </section>
  <hr>
  <section>
    <h2>Child components and parent components can 2-way bind data elements within an object.</h2><br/>
    Parent sees:<br/>
    {{myobject}}
    <br/><br/>
    <label>Field1 (parent)</label>
    <text-input v-bind:value.sync="myobject.field1"></text-input>
    <label>Field2 (parent)</label>
    <text-input v-bind:value.sync="myobject.field2"></text-input>
    <label>Field3 (parent)</label>
    <text-input v-bind:value.sync="myobject.field3"></text-input>
    <button v-on:click="myobject = {}">Parent Reset</button>
    <br/>--------<br/>
    <label>Child</label>
    <embedded-form v-bind:value.sync="myobject"></embedded-form>
  </section>
  <hr>
  <section>
    <h2>Web requests are easy.</h2><br/>
    <button v-on:click="loadUsers()">Load users</button><br/>
    <ul>
      <li v-for="user in users" track-by="id">
        {{user.first_name}}
      </li>
    </ul>

  </section>
  <hr>
  <section>
    <h2>Repeating elements is easy. You can even manipulate collections at the time they are needed instead of creating a new property.</h2><br/>
    <ul>
      <li v-for="object in objects.slice(1,4)" track-by="id">
        {{object.label}} - {{object.value}}
      </li>
    </ul>
  </section>
  <hr>
  <section>
    <h2>Output formatting can be done just-in-time via filters without having to store an extra field.</h2><br/>
    <div>original: {{title}}</div>
    <div>with filter (despace): {{title | despace}}</div>
  </section>
  <hr>
  <section>
    <h2>You can change styles based on boolean expressions.</h2><br/>
    <div v-bind:style="{color: color}">I am {{color}}</div>
    <button v-on:click="color = 'blue'">Blue</button>
    <button v-on:click="color = 'green'">Green</button>
  </section>
  <hr>
  <section>
    <h2>You can change classes based on boolean expressions.</h2><br/>
    <div v-bind:class="big ? 'big-class' : ''">I change size</div>
    <button v-on:click="big = !big">change size</button>
  </section>
  <hr>
  <section>
    <h2>You can perform element transclusion (portletting)</h2><br/><br/>
    <div>
      <transclusion>
        This should appear.
      </transclusion>
    </div>
  </section>
  <hr>
  <section>
    <h2>Components can be modals.</h2><br/><br/>
    <div>
      <button v-on:click="launchModal();">Launch</button>
    </div>
  </section>
  <hr>
</section>
