

.standard-layout {
  .main-content {
    background-color: $color-background;
  }
}

.dashboard-layout {
  $sidebar-width: 15%;
  min-height: 100%;
  .sidebar-content {
    background-color: $color-background-sidebar;
    bottom: 0;
    position: fixed;
    top: 0;
    vertical-align: top;
    width: $sidebar-width;
  }

  .main-content {
    background-color: $color-background;
    box-sizing: border-box;
    display: block;
    min-height: 100%;
    margin-left: $sidebar-width;
    max-width: 100% - $sidebar-width;
    margin-right: 0;
    padding: 1rem;
    width: 85%;
  }
}

html, body, .app {
  background-color: $color-background;
  min-height: 100%;
}
